<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    

            <p>
                <form action="/submission" method="POST">
                    <table border="1">
                        <tr>
                            <label for="name">Your Name</label>
                            <input type="text" name="name" id="name">
                        </tr>
                        <tr>
                            <td>
                                <label for="location">Choose Location</label>
                                <select name="location" id="location">
                                    <option value="north">north</option>
                                    <option value="south">South</option>
                                    <option value="east">east</option>
                                    <option value="west">west</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="language">Choose Language:</label>
                                <select name="language" id="language">
                                    <option value="english">english</option>
                                    <option value="spanish">spanish</option>
                                    <option value="mandarin">mandarin</option>
                                    <option value="french">french</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="comment">Comment:</label>
                                <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
                                <input type="submit" name="comment" id="comment">
                            </td>
                        </tr>
                    </table>
                    <br>
                    <input type="submit" value="Submission">
                </form>
            </p>

</body>
</html>